<%- include('../partials/header') %>
<body>
    <form action="/games" method="POST">
        <label>Game Date:
            <input type="date" name="gameDate" required>
        </label><br>
        <label>Home Team:
            <select name="homeTeam">
                <option value="Washington Huskys">Washington Huskys</option>
                <option value="Boise St Broncos">Boise St Broncos</option>
                <option value="Tulsa Golden Hurricanes">Tulsa Golden Hurricanes</option>
                <option value="Michigan St Spartans">Michigan St Spartans</option>
                <option value="Cal Golden Bears">Cal Golden Bears</option>
                <option value="Arizona Wildcats">Arizona Wildcats</option>
                <option value="Oregon Ducks">Oregon Ducks</option>
                <option value="Arizona St Sun Devils">Arizona St Sun Devils</option>
                <option value="Stanford Cardinal">Stanford Cardinal</option>
                <option value="USC Trojans">USC Trojans</option>
                <option value="Utah Utes">Utah Utes</option>
                <option value="Oregon St Beavers">Oregon St Beavers</option>
                <option value="Washington St Cougars">Washington St Cougars</option>
            </select>
        </label><br>
        <label>Visiting Team:
            <select name="visitingTeam">
                <option value="Washington Huskys">Washington Huskys</option>
                <option value="Boise St Broncos">Boise St Broncos</option>
                <option value="Tulsa Golden Hurricanes">Tulsa Golden Hurricanes</option>
                <option value="Michigan St Spartans">Michigan St Spartans</option>
                <option value="Cal Golden Bears">Cal Golden Bears</option>
                <option value="Arizona Wildcats">Arizona Wildcats</option>
                <option value="Oregon Ducks">Oregon Ducks</option>
                <option value="Arizona St Sun Devils">Arizona St Sun Devils</option>
                <option value="Stanford Cardinal">Stanford Cardinal</option>
                <option value="USC Trojans">USC Trojans</option>
                <option value="Utah Utes">Utah Utes</option>
                <option value="Oregon St Beavers">Oregon St Beavers</option>
                <option value="Washington St Cougars">Washington St Cougars</option>
            </select>
        </label><br>
        <label>Huskys Starters: (separate players with commas)
            <input type="text" name="huskysStarters">
        </label><br>
        <label>Oppenents Starters: (separate players with commas)
            <input type="text" name="oppenentsStarters">
        </label><br>
        <label>Huskys Win:
            <input type="checkbox" name="huskysWin" required>
        </label><br>
        <label>Final Score: (separate scores with commas)
            <input type="text" name="finalScore" required>
        </label><br>
        <label>Huskys Qtrly Score: (separate scores with commas)
            <input type="text" name="huskysQtrlyScore" >
        </label><br>
        <label>Oppenents Qtrly Score: (separate scores with commas)
            <input type="text" name="oppenentsQtrlyScore" >
        </label><br>
        <button type="submit">Add Game</button>
    </form>
    <p><%= errorMsg %></p>

    <%- include('../partials/footer') %>